mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			.row
				.col-sm-7.col-md-4
					+e.title ООО «Школа Робототехники СПб»
					+e.vk
						+pic('vk')
					+soc
				.col-sm-5.col-md-5
					+e.nav
						+e.title.d-none.d-sm-block Дополнительная информация
						ul
							li: a(href="#") Вопрос-ответ
							li: a(href="#") Партнёры
							li: a(href="#") Вакансии
							li: a(href="#") Способы оплаты
							li: a(href="#") Документы

				+e.col.col.d-none.d-md-block
					+form-wrap
						+input('Поиск...','text')
						+e.btn(type="button")
							+icon('search')
					+e.btn.link-modal(href="#modal-call") Записаться на занятие
					+e.contact
						span г. Санкт-Петербург
						+e.filiation(href="#") Все филиалы
						+e.tel(href="tel:+88124253793") +8 (812) 425-37-93
						+e.tel--sm(href="tel:+88124253793") +8 (812) 425-37-93
						span Пн-Пт:  10:00-19:00
						+e.mail(href="#mailto:info@roboschool.pro") info@roboschool.pro 
			+e.foot.d-none.d-md-block © 2018-#[span.curentYear ] ROBOSCHOOL
