mixin sReviews()
	// start sReviews
	+b.SECTION.sReviews.section#sReviews&attributes(attributes)
		.container
			+b.section-title
				h2 Отзывы
				
			+b.reviewsSlider
				.swiper-container.reviewsSlider-js
					.swiper-wrapper
						mixin slide()
							.swiper-slide
								+e.slide
									block
						+slide
							p После того, как ребенок перешел на удаленку вместе с мамой и папой, решили, что будем собирать роботов Лего и дальше. Хотелось, чтобы сын работал с настоящим конструктором, и мы перешили на онлайн-курс с Lego Education. Робототехникой сложно заниматься удаленно, но в Roboschool хорошее дистанционное обучение, и мы решили попробовать. Могу сказать, что с организацией все отлично, все вопросы решили, молодцы, как была отличная поддержка, так и осталась. Дети работают сами, потом смотрят, что их роботы умеют, а преподаватели контролируют, что у них там выходит. Конструктор Wedo 2.0 им дают бесплатно, так что лишних расходов нет. Получается и учеба, и игра с моделями. Это намного интереснее и полезнее, чем моделировать роботов в программе.
							b Евгения С. (сыну 7 лет)
						+slide
							p Наша дочка перешла в математический класс, и мы решили дополнительно отдать ее на курс программирования, чтобы дать общую базу для карьеры в будущем. Выбрали Python, он для начинающих подходит на мой взгляд лучше всего. Простой, можно на нем писать игры, анализировать биг дату. Мы решили пойти в Roboschool. У них был онлайн-курс с видеоконференциями Discord и они помогают со всеми техническими и организационными вопросами. Мы вместе с менеджером разобрались достаточно быстро. Курс удачно скомпонован, преподаватели дают практику, готовят к более продвинутому программированию, рассказывают об искусственном интеллекте и других вещах, которые интересны ребенку 12 лет. Взяли для дочки четыре занятия и планируем продлить.
							b Анна и Кирилл Ж. (дочке 12 лет)
						+slide
							p Хорошо, что в Roboschool качественный подход к работе. Они ответственные, думают про детей, которые к ним ходили, и базовый курс Scratch можно продолжить удаленно. Ноутбук с микрофоном у нас есть, наушники тоже, больше ничего особо не нужно. С преподавателем общение по видеоконференции, можно продолжить с того, где остановились на курсе. Записывались мы тоже онлайн, получили скидку. Ребенку восемь лет, но ничего невыполнимого на курсе для него нет, все поэтапно, понятно, учатся программировать, делать анимации. Занятия в игровой форме, но при этом экспертный уровень высокий, как всегда. Сыну нравится, можно на час дважды в неделю его занять полезным делом. Хороший курс для первых классов школы.
							b Яна К. (сыну 8 лет)
			+e.buttons
				+e.btn.link-modal(href="#modal-call") Записаться на курс
				+e.allReviews(href="#") Все отзывы
	// end sReviews