
mixin modal() 
	//  start modals

	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title Запишитесь на пробное занятие
				p Мы&nbsp;вам позвоним, чтобы обсудить удобные время и&nbsp;место для проведения занятия
			+e.wrapper
				+input("Имя родителя *")(required)  
				+input("Имя ребенка *")(required)  
				+input("Номер телефона *",'tel')(required)  
				+input("E-mail *",'email')(required)  
				+input("Промокод")(required)  
				+e.BUTTON.btn(type="submit") записаться
			//- +polite()
	// #modal-call
	
	// end modals