mixin sAchievements()
	// start sAchievements
	+b.SECTION.sAchievements.section#sAchievements&attributes(attributes)
		.container
			+b.section-title
				h2 Достижения наших учеников
				
		+b.achievementsSlider
			.swiper-container.achievementsSlider-js
				.achievementsSlider-next.d-none.d-sm-flex
					img(src="img/@2x/chevron-right.png", alt="")
				.swiper-wrapper
					mixin slide()
						.swiper-slide
							+e.slide
								a(href=`img/@2x/diplom.jpg` data-fancybox=`diplom`)
									picture
										source.swiper-lazy(srcset="#" data-srcset=`img/@2x/webp/diplom.webp` type="image/webp")
										img.swiper-lazy(src="#" data-src=`img/@2x/diplom.jpg`, alt="")
					+slide
					+slide
					+slide
					+slide
					+slide
					+slide
					+slide
					+slide
					+slide
	// end sAchievements