mixin sAchievements()
	// start sAchievements
	+b.SECTION.sAchievements.section#sAchievements&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sAchievements
				
			.row
	// end sAchievements