mixin sAdvantages()
	// start sAdvantages
	+b.SECTION.sAdvantages.section#sAdvantages&attributes(attributes)
		.container
			+b.section-title
				h2 Наши преимущества
			.row
				mixin item-adv(i,t,p)
					.col-md-6
						+e.item-adv
							+e.img-wrap
								img.lazy.res-i(src="#" data-src=`img/svg/sAdvantages-${i}.svg`, alt="")
							+e.text-block
								+e.title!= t
								+e.text!= p

				+item-adv(1, `Индивидуальный подход`, `Мы&nbsp;работаем в&nbsp;группах малого состава, чтобы успеть с&nbsp;каждым разобрать занимательные и&nbsp;непонятные вопросы.`)
				+item-adv(2, `Квалифицированные кадры`, `Профессионализм наших преподавателей позволяет найти подход, вовлечь в&nbsp;мир робототехники, программирования и&nbsp;творчества каждого ребенка!`)
				+item-adv(3, `Учебные центры в&nbsp;вашей школе`, `Детям не&nbsp;нужно покидать здание своей школы, а&nbsp;родителям долго размышлять о&nbsp;том, как привезти своих детей к&nbsp;нам.`)
				+item-adv(4, `Собственная методика, утвержденная экспертами АППО`, `Уже на&nbsp;первом занятии ребенок может самостоятельно написать программу, по&nbsp;которой будет действовать робот!`)
				+item-adv(5, `Индивидуальное тестирование`, `Перед началом занятий и&nbsp;выбором курса мы&nbsp;проводим индивидуальное тестирование каждого ребенка.`)
				+item-adv(6, `Уникальная линейка конструкторов для всех возрастов`, `На&nbsp;своих курсах мы&nbsp;учим детей работать на&nbsp;лучших мировых конструкторах LEGO, KienBot, Robocs и&nbsp;Легард.`)
				


	// end sAdvantages