mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container-fluid
			a.link-modal(href="#modal-call")
				<picture> 
					<source srcset="img/@2x/webp/banner.webp" type="image/webp" media="(min-width:576px)">
					<source srcset="img/@2x/webp/banner-mob.webp" type="image/webp">
					<source srcset="img/@2x/banner.jpg" type="image/jpg" media="(min-width:576px)">
					//- <source srcset="img/@2x/banner-mob.jpg" type="image/jpg">
					<img src="img/@2x/banner-mob.jpg" alt="">
				</picture>

	// end headerBlock