mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+pic('banner')(class="picture-bg")
		.container
			+b.section-title
				h1 Бесплатное пробное занятие для новичков!
			+e.btn.link-modal(href="#modal-call") Записаться на занятие
						
	// end headerBlock