extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sCourses/_sCourses.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sPhoto/_sPhoto.pug
include ../blocks/sTeachers/_sTeachers.pug
include ../blocks/sAchievements/_sAchievements.pug
include ../blocks/sReviews/_sReviews.pug
include ../blocks/sQuestions/_sQuestions.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sAddresses/_sAddresses.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'ROBOSCHOOL'
	title= title
block pagecontent
	+header()
		+topLine()
		+top-nav()
	+headerBlock()
	+sAbout()
	+sCourses()
	+sAdvantages()
	+b.SECTION.sForm.section#sForm.sForm--horizontal
		.container
			+form-wrap
				//- +e.title записаться на занятия
				.row
					.col-lg-3
						+input('Ваше имя','text')
					.col-lg-3
						+input('Номер телефона','tel')
					.col-lg-3
						+input('E-mail','email')
					.col-lg-3
						+e.BUTTON.btn(type="submit") записаться на занятия
				//- +input('Имя ребенка','text')
				//- +input('Промокод','text')
	+sForm()
	+sPhoto()
	+sTeachers()
	+sAchievements()
	+sReviews()
	+sQuestions()
	+sNews()
	+sContact()
	+sAddresses()
	
	+footer()


	