mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.toggle-menu-mobile--js.d-lg-none
		span
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu()
			+e.contacts
				+e.line
					span г. Санкт-Петербург
					a(href="#") Все филиалы
				+e.line
					+e.tel(href="tel:") +7(812)5021085
					a.link-modal(href="#modal-call") Заказать звонок
				+e.line.text-center
					a(href="mailto:info@roboschool.pro") info@roboschool.pro

			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy.d-none.d-lg-block
		.container
			.row.align-items-center
				.col
					+mnu()
				.col-auto
					+e.btn.link-modal(href="#modal-call") Записаться на занятие
					
	// end top-nav