mixin sAddresses()
	// start sAddresses
	+b.SECTION.sAddresses.section#sAddresses&attributes(attributes)
		.container
			.row
				mixin tr(...items)
					tr
						each item in items
							td= item

				+e.col.col-lg-auto
					table
						tr
							th №
							th Филиал
							th Адрес
						+tr('1','Школа №217','СПб, проспект Ветеранов, 140к2')
						+tr('2','Гимназия №271','СПб, проспект Кузнецова, 25к3')
						+tr('3','Гимназия №284','СПб, проспект Народного Ополчения, 135')
						+tr('4','Школа №285','СПб, Пограничника Гарькавого, 46к4')
						+tr('5','Школа №290','СПб, Пионерстроя, 10к2')
						+tr('6','Школа №291','СПб, Маршала Захарова, 16к4')
						+tr('7','Лицей №393','СПб, ул. Автовская, 5')
						+tr('8','Школа №471','СПб, Юкковское шоссе, 6к1')
						+tr('9','Школа №547','СПб, Адмирала Коновалова, 6к2')
				.col-lg
					table
						tr.d-none.d-lg-table-row
							th №
							th Филиал
							th Адрес
						+tr('10','Школа №569','СПб, Рыбацкий проспект, 29к2')
						+tr('11','Гимназия №675','СПб, Ленинский проспект, 92к2')
						+tr('12','Учебный центр в “Talento”','СПб, Колпинское шоссе, 36к1')
						+tr('13','Учебный центр в БЦ “Сенатор”','СПб, ВО, 18 линия, 29кЕ, офис 502')
						+tr('14','Учебный центр на Капитанской','СПб, ВО, Капитанская ул., 4')
						+tr('15','Учебный центр на Ленинском','СПб, ВО, Ленинский проспект, 79к3')
						+tr('16','Центр культуры, кино и досуга','г. Павловск, Песчаный переулок, 5/13')
						+tr('17','Центр раннего развития “Дети Пушкина”','г. Пушкин, ул. Железнодорожная, 56кА')
						//- +tr('','','')
	// end sAddresses