mixin sQuestions()
	// start sQuestions
	+b.SECTION.sQuestions.section#sQuestions&attributes(attributes)
		.container
			+b.section-title
				h2 ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
				a(href="#") Все ответы
			+e.accardion
				mixin item(t)
					+e.accardionItem
						+e.accardionTitle.accardion-js= t
						+e.accardionBody.accardionToggle-js Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Пор о над, приставка рыбными щеке злых всемогущая, заманивший имеет то журчит что по всей мир, коварный осталось языкового буквоград маленькая? Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Прямо безопасную ее раз себя за запятых, рекламных от всех его маленькая домах, пустился дорогу языком сих инициал! Которое, рукописи журчит! Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Снова что ты подзаголовок? Строчка ты, назад парадигматическая, вдали вопрос собрал там по всей заголовок прямо взобравшись скатился большой переписывается решила. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Заголовок путь то всеми, решила что, подзаголовок буквоград там прямо ведущими запятых выйти послушавшись они меня, пояс но пунктуация осталось. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Одна власти рукописи вопроса предложения заманивший сбить. Страну вопрос это текста текст. Коварный одна переписали однажды о толку что дорогу.
				+item('Чем дети занимаются на занятиях?')
				+item('Что будет с оплатой, если мы пропустим занятие?')
				+item('Каков численный состав учебной группы? Достаточно ли внимания преподавателя каждому из обучающегося?')
				+item('Родителям можно присутствовать на занятии?')
				+item('Кто проводит занятия?')
				+item('Почему дети работают в парах?')
			+e.btn.link-modal(href="#modal-call") Запишите меня!


	// end sQuestions