mixin sCourses()
	// start sCourses
	+b.SECTION.sCourses.section#sCourses&attributes(attributes)
		.container
			+b.section-title
				h2 Образовательные курсы
				a(href="#") Все курсы
			p На&nbsp;сегодняшний день мы&nbsp;предлагаем Вам два направления обучения: робототехника и&nbsp;программирование. Помимо полноценных годовых курсов, можно опробовать пятидневные интенсивы, программы которых не&nbsp;повторяют содержание основных занятий Школы робототехники и&nbsp;программирования ROBOSCHOOL. Они будут интересны как уже опытным робототехникам, так и&nbsp;новичкам!
			.row
	// end sCourses